<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <!-- Style -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header class="header">
            <h1 class="title">Online Shop</h1>
            <div class="utenti">
                <label for="users">Utenti</label>
                <select v-model="user" @change="userChange()" id="users">
                    <option v-for="(user, index) in users" :value="index">{{user.name}} {{user.surname}}</option>
                </select>
            </div>
        </header>
        <!-- Main -->
        <main class="container">
            <!-- Categorie -->
            <div class="categories">
                <section class="category" v-for="categories in products">
                    <h2>{{categories.category}}</h2>
                    <!-- Prodotti -->
                    <div class="products">
                        <div class="product" v-for="product in categories.listOfProducts">
                            <!-- immagine -->
                            <div class="product-image">
                                <img src="./images/placeholder.jpeg" alt="">
                            </div>
                            <!-- titolo -->
                            <h4 class="product-title">{{product.name}} {{product.brand}}</h4>
                            <p class="product-description">{{product.description}}</p>
                            <p class="product-price">{{product.discount == 0 ? product.price : Math.round((product.price - (product.price / 100 * product.discount)) * 100) / 100}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>